@import '../../css/variaveis';




.container-test-geral {
    width: 90%;
    min-height: 92vh;
    height: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin: 24px auto 16px auto;

    h1 {
        padding: 32px 0px;
    }

    .content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 50px 24px;
        width: 100%;

        .element {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 24px;
            width: 300px;
            height: 350px;

            h2 {
                color: $white-light
            }

            .wrapperbox {
                width: 150px;
                height: 150px;
                border-radius: 16px;
                background-color: $bg-box;

                .box {
                    width: 150px;
                    height: 150px;
                    border-radius: 16px;
                    background-color: $blue-light;
                    cursor: pointer;
                    transition: all 1s ease-in-out;
                }
            }

            p {
                color: $blue-dark;
            }

            span {
                color: $blue-light;
            }
        }

    }




}

.container-test-1 {

    .content-1 {
        .element-1 {

            .wrapperbox-1 {

                .box-1 {
                    transform-origin: 0% 0%;

                    &:hover {
                        transform: rotate(90deg);
                    }
                }
            }
        }


        .element-2 {

            .wrapperbox-2 {

                .box-2 {

                    &:hover {
                        transform: translate(-50px, 0px);
                    }
                }
            }
        }

        .element-3 {

            .wrapperbox-3 {

                .box-3 {

                    &:hover {
                        transform: translate(0, -50px);
                    }
                }
            }
        }


        .element-4 {

            .wrapperbox-4 {

                .box-4 {

                    &:hover {
                        transform: scale(0.8);
                    }
                }
            }
        }

        .element-5 {

            .wrapperbox-5 {

                .box-5 {

                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
        }

        .element-6 {

            .wrapperbox-6 {

                .box-6 {

                    &:hover {
                        transform: rotate(-50deg);
                    }
                }
            }
        }

        .element-7 {

            .wrapperbox-7 {

                .box-7 {

                    &:hover {
                        transform: skew(20deg, 10deg);
                    }
                }
            }
        }

        .element-8 {

            .wrapperbox-8 {

                .box-8 {

                    &:hover {
                        transform: skewX(20deg);
                    }
                }
            }
        }

        .element-9 {

            .wrapperbox-9 {

                .box-9 {

                    &:hover {
                        transform: skewY(20deg);
                    }
                }
            }
        }

        .element-10 {

            .wrapperbox-10 {

                .box-10 {

                    &:hover {
                        transform: matrix(1, 0, 0, 1, -50, -50);
                    }
                }
            }
        }
    }
}

.container-test-2 {
    .content-2 {
        .element {
            .wrapperbox {
                perspective: 1000px;

                .box {
                    background-color: $pink-light;
                }
            }
        }

        .element-1 {

            .wrapperbox-1 {

                .box-1 {

                    &:hover {
                        transform: translate3d(-80px, 20px, 250px);
                        box-shadow: 1px 1px 10px 5px $blue-light;
                    }
                }
            }
        }

        .element-2 {

            .wrapperbox-2 {

                .box-2 {

                    &:hover {
                        transform: scale3d(1.5, 0.5, 1.0);
                        box-shadow: 1px 1px 10px 5px $blue-light;
                    }
                }
            }
        }

        .element-3 {

            .wrapperbox-3 {
                
                .box-3 {

                    &:hover {
                        transform: rotate3d(1, 1, 0, 60deg);
                        box-shadow: 1px 1px 10px 5px $blue-light;
                    }
                }
            }
        }

        .element-4 {

            .wrapperbox-4 {

                transform-style: preserve-3d;
                transition: all 1s ease-in-out;

                &:hover {
                    transform: rotateY(45deg);
                    box-shadow: 1px 1px 10px 5px $blue-light;

                    .box-4 {
                        transform: rotateX(45deg);
                        box-shadow: 1px 1px 10px 5px $blue-light;
                    }
                }
            }
        }

        .element-5 {

            .wrapperbox-5 {

                .box-5 {
                    transition: all 0s ease-in-out;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;

                    p{
                        color: $blue-light;
                        font-weight: 800;
                        font-size: 24px;
                        opacity: 0;
                        transition: all 300ms ease;
                    }

                    &:hover {
                        animation: matrixAnimation 2s linear alternate infinite;
                        box-shadow: 1px 1px 10px 5px $blue-light;

                        p{
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

@keyframes matrixAnimation{
    0%{
        transform: matrix3D(1, 0, 0 , 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }

    33%{
        transform: matrix3D(1, 0, 0, 0, 0, 1, 1, 0, 1, 0, -1, 0, -100, 0, 100, 1);
    }

    66%{
        transform: matrix3D(1, 0, 0, 0, 0, 1, -1, 0, 1, 0, -1, 0, -100, 0, 100, 1)
    }


    100%{
        transform: matrix3D(1, 0, 0, 0, 0, 1, 0, 0, 1, 0, -1, 0, -100, 0, 100, 1)
    }
}