@import url("https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  max-width: 100vw;
  min-height: 100vh;
  height: auto;
  min-width: 320px;
  overflow-x: hidden;
}
html body {
  width: 100%;
  min-height: 100vh;
  background-color: #121313;
  color: #dedede;
  font-family: "Winky Sans", sans-serif;
}
html body header {
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 98vw;
  border-radius: 30px;
  margin: 0 auto;
  margin-top: 10px;
}
html body header h1 {
  letter-spacing: 1px;
  font-weight: 400;
  perspective: 100px;
  display: flex;
  align-items: center;
}
html body header h1 p:nth-child(1) {
  color: #15e4f3;
  padding: 10px;
  animation: logoanimation 2s linear infinite;
}
html body header h1 p:nth-child(2) {
  color: #15e4f3;
  padding: 10px;
  animation: logoanimation 2s linear reverse infinite;
}
html body header nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
html body header nav ul {
  display: flex;
  gap: 24px;
  list-style: none;
}
html body header a {
  color: #dedede;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 20px;
}
html body header a:hover {
  color: #15e4f3;
}
html body header .active {
  color: #15e4f3;
}

@keyframes logoanimation {
  0% {
    transform: translateX(0px);
  }
  33% {
    transform: translateX(5px);
  }
  66% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0px);
  }
}
.container-test-geral {
  width: 90%;
  min-height: 92vh;
  height: auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  margin: 24px auto 16px auto;
}
.container-test-geral h1 {
  padding: 32px 0px;
}
.container-test-geral .content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 50px 24px;
  width: 100%;
}
.container-test-geral .content .element {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 300px;
  height: 350px;
}
.container-test-geral .content .element h2 {
  color: #dedede;
}
.container-test-geral .content .element .wrapperbox {
  width: 150px;
  height: 150px;
  border-radius: 16px;
  background-color: rgba(104, 101, 101, 0.7607843137);
}
.container-test-geral .content .element .wrapperbox .box {
  width: 150px;
  height: 150px;
  border-radius: 16px;
  background-color: #15e4f3;
  cursor: pointer;
  transition: all 1s ease-in-out;
}
.container-test-geral .content .element p {
  color: rgba(21, 228, 243, 0.5882352941);
}
.container-test-geral .content .element span {
  color: #15e4f3;
}

.container-test-1 .content-1 .element-1 .wrapperbox-1 .box-1 {
  transform-origin: 0% 0%;
}
.container-test-1 .content-1 .element-1 .wrapperbox-1 .box-1:hover {
  transform: rotate(90deg);
}
.container-test-1 .content-1 .element-2 .wrapperbox-2 .box-2:hover {
  transform: translate(-50px, 0px);
}
.container-test-1 .content-1 .element-3 .wrapperbox-3 .box-3:hover {
  transform: translate(0, -50px);
}
.container-test-1 .content-1 .element-4 .wrapperbox-4 .box-4:hover {
  transform: scale(0.8);
}
.container-test-1 .content-1 .element-5 .wrapperbox-5 .box-5:hover {
  transform: scale(1.2);
}
.container-test-1 .content-1 .element-6 .wrapperbox-6 .box-6:hover {
  transform: rotate(-50deg);
}
.container-test-1 .content-1 .element-7 .wrapperbox-7 .box-7:hover {
  transform: skew(20deg, 10deg);
}
.container-test-1 .content-1 .element-8 .wrapperbox-8 .box-8:hover {
  transform: skewX(20deg);
}
.container-test-1 .content-1 .element-9 .wrapperbox-9 .box-9:hover {
  transform: skewY(20deg);
}
.container-test-1 .content-1 .element-10 .wrapperbox-10 .box-10:hover {
  transform: matrix(1, 0, 0, 1, -50, -50);
}

.container-test-2 .content-2 .element .wrapperbox {
  perspective: 1000px;
}
.container-test-2 .content-2 .element .wrapperbox .box {
  background-color: #f0077b;
}
.container-test-2 .content-2 .element-1 .wrapperbox-1 .box-1:hover {
  transform: translate3d(-80px, 20px, 250px);
  box-shadow: 1px 1px 10px 5px #15e4f3;
}
.container-test-2 .content-2 .element-2 .wrapperbox-2 .box-2:hover {
  transform: scale3d(1.5, 0.5, 1);
  box-shadow: 1px 1px 10px 5px #15e4f3;
}
.container-test-2 .content-2 .element-3 .wrapperbox-3 .box-3:hover {
  transform: rotate3d(1, 1, 0, 60deg);
  box-shadow: 1px 1px 10px 5px #15e4f3;
}
.container-test-2 .content-2 .element-4 .wrapperbox-4 {
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
}
.container-test-2 .content-2 .element-4 .wrapperbox-4:hover {
  transform: rotateY(45deg);
  box-shadow: 1px 1px 10px 5px #15e4f3;
}
.container-test-2 .content-2 .element-4 .wrapperbox-4:hover .box-4 {
  transform: rotateX(45deg);
  box-shadow: 1px 1px 10px 5px #15e4f3;
}
.container-test-2 .content-2 .element-5 .wrapperbox-5 .box-5 {
  transition: all 0s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.container-test-2 .content-2 .element-5 .wrapperbox-5 .box-5 p {
  color: #15e4f3;
  font-weight: 800;
  font-size: 24px;
  opacity: 0;
  transition: all 300ms ease;
}
.container-test-2 .content-2 .element-5 .wrapperbox-5 .box-5:hover {
  animation: matrixAnimation 2s linear alternate infinite;
  box-shadow: 1px 1px 10px 5px #15e4f3;
}
.container-test-2 .content-2 .element-5 .wrapperbox-5 .box-5:hover p {
  opacity: 1;
}

@keyframes matrixAnimation {
  0% {
    transform: matrix3D(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  33% {
    transform: matrix3D(1, 0, 0, 0, 0, 1, 1, 0, 1, 0, -1, 0, -100, 0, 100, 1);
  }
  66% {
    transform: matrix3D(1, 0, 0, 0, 0, 1, -1, 0, 1, 0, -1, 0, -100, 0, 100, 1);
  }
  100% {
    transform: matrix3D(1, 0, 0, 0, 0, 1, 0, 0, 1, 0, -1, 0, -100, 0, 100, 1);
  }
}/*# sourceMappingURL=style2.css.map */