@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(18, 19, 19);
    color: #dedede;
    font-family: "Winky Sans", sans-serif;
}


header {
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 98vw;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 10px;

    h1 {
        letter-spacing: 1px;
        font-weight: 400;
        perspective: 100px;
        display: flex;
        align-items: center;
        
        p:nth-child(1) {
            color: rgb(21, 228, 243);
            padding: 10px;
            animation: looplogo 2s linear infinite;
        }

        p:nth-child(2) {
            color: rgb(21, 228, 243);
            padding: 10px;
            animation: looplogo 2s linear reverse infinite;
        }

    }

    nav {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    nav ul {
        display: flex;
        gap: 24px;
        list-style: none;
    }



    a {
        color: rgb(243, 243, 243);
        text-decoration: none;
        letter-spacing: 1px;
        font-weight: 600;
        font-size: 20px;

        &:hover {
            color: rgb(21, 228, 243);
        }
    }
}


.container {
    width: 100%;
    height: calc(92vh - 10px);
    background-color: rgb(18, 19, 19);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;

    perspective: 150px; // perspectiva do container para o efeito de 3D
}

.box {
    width: 200px;
    height: 200px;
    background-color: rgb(7, 197, 197);
    border-radius: 20px;

    // transform: rotate(45deg);
    // transform: translate(100px, 200px);
    // transform: translate3d(50px, 100px, 90px);
    // transform: scale(1.5);
    // transform: scaleX(2);
    // transform: skew(20deg);
    // transform: skewX(10deg);
    // transform: skewY(15deg);
    // transform: matrix([scaleX(), skewX(), skewY(), scaleY(), translateX(), translateY()]);

    //INICIANDO 3D

    transform: rotateX(10deg);

    animation: loop 6s linear infinite;
}

@keyframes loop {
    0% {
        transform: rotateX(0deg);
    }

    100% {
        transform: rotateX(360deg)
    }
}

@keyframes looplogo{
    0%{
        transform: translateX(0px) ;
    }

    33%{
        transform: translateX(5px) ;
    }

    66%{
        transform: translateX(-5px) ;
    }

    100%{
        transform: translateX(0px) ;
    }
}