@import '../../css/variaveis';





.container-test-geral {
    width: 90%;
    min-height: 92vh;
    height: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin: 24px auto 16px auto;


    .content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 50px 24px;
        width: 100%;

        .element {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 24px;
            width: 300px;
            height: 350px;

            h2 {
                color: $white-light
            }

            p{
                color: $blue-dark;
            }

            .wrapperbox {
                width: 150px;
                height: 150px;
                border-radius: 16px;
                background-color: $bg-box;

                .box {
                    width: 150px;
                    height: 150px;
                    border-radius: 16px;
                    background-color: $blue-light;
                    cursor: pointer;
                }
            }
        }
    }




}

.container-test-1 {

    .content-1 {
        .element-1 {

            .wrapperbox-1 {
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                
                .box-1 {
                    
                    animation-name: boxanimation1;
                    animation-duration: 2s;
                    animation-iteration-count: infinite;
                    animation-fill-mode: forwards;
                    animation-direction: normal ;
                    animation-delay: 2;
                    animation-timing-function: ease-in;
                    
                }
            }
        }
// FAZER TODA SECTION UTILIZANDO cubic-bezier(.81,1.11,.27,-0.06);
// FAZER TODA SECTION UTILIZANDO cubic-bezier(.81,1.11,.27,-0.06);
// FAZER TODA SECTION UTILIZANDO cubic-bezier(.81,1.11,.27,-0.06);
// FAZER TODA SECTION UTILIZANDO cubic-bezier(.81,1.11,.27,-0.06);
// FAZER TODA SECTION UTILIZANDO cubic-bezier(.81,1.11,.27,-0.06);
// FAZER TODA SECTION UTILIZANDO cubic-bezier(.81,1.11,.27,-0.06);
// FAZER TODA SECTION UTILIZANDO cubic-bezier(.81,1.11,.27,-0.06);
// FAZER TODA SECTION UTILIZANDO cubic-bezier(.81,1.11,.27,-0.06);
// FAZER TODA SECTION UTILIZANDO cubic-bezier(.81,1.11,.27,-0.06);
// FAZER TODA SECTION UTILIZANDO cubic-bezier(.81,1.11,.27,-0.06);
// FAZER TODA SECTION UTILIZANDO cubic-bezier(.81,1.11,.27,-0.06);
// FAZER TODA SECTION UTILIZANDO cubic-bezier(.81,1.11,.27,-0.06);


        .element-2 {

            .wrapperbox-2 {
                display: flex;
                align-items: center;
                justify-content: center;
                
                .box-2 {
                    width: 150px;
                    height: 150px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 8px;
                    
                    
                    .dot{
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background-color: $pink-light;
                        box-shadow: 0px 0px 10px 5px $white-light;

                        
                    


                        // animation-name: boxanimation2;
                        // animation-duration: 1.5s;
                        // animation-iteration-count: infinite;
                        // animation-fill-mode: none;
                        // animation-direction: normal ;
                        // animation-timing-function: cubic-bezier(.81,1.11,.27,-0.06);
                    }

                    .dot:nth-child(1){
                        animation: boxanimation2 0.4s linear 0.3s infinite alternate;
                    }

                    .dot:nth-child(2){
                        animation: boxanimation2 0.4s linear 0.55s infinite alternate;
                    }

                    .dot:nth-child(3){
                        animation: boxanimation2 0.4s linear 0.8s infinite alternate;
                    }
                    
                }
            }
        }
    }
}




// KEYFRAMES PARA ANIMAÇÕES =========================================================================

@keyframes boxanimation1 {
    
    0% {
        width: 150px;
    }

    50%{
        width: 20px;
        height: 20px;
        background-color: $pink-light;
        box-shadow: $blue-light;
        box-shadow: 0px 0px 10px 5px $blue-light;
        rotate: 180deg;
    }

    100% {
        width: 150px;
    }
}


@keyframes boxanimation2 {
    
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-15px);
    }
}


