@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(18, 19, 19);
    color: #dedede;
    font-family: "Winky Sans", sans-serif;
}


header {
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 98vw;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 10px;

    h1 {
        letter-spacing: 1px;
        font-weight: 400;
        perspective: 100px;
        display: flex;
        align-items: center;

        p:nth-child(1) {
            color: rgb(21, 228, 243);
            padding: 10px;
            animation: looplogo 2s linear infinite;
        }

        p:nth-child(2) {
            color: rgb(21, 228, 243);
            padding: 10px;
            animation: looplogo 2s linear reverse infinite;
        }

    }

    nav {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    nav ul {
        display: flex;
        gap: 24px;
        list-style: none;
    }



    a {
        color: rgb(243, 243, 243);
        text-decoration: none;
        letter-spacing: 1px;
        font-weight: 600;
        font-size: 20px;

        &:hover {
            color: rgb(21, 228, 243);
        }
    }
}

.container {
    width: 90%;
    height: 92vh;
    background-color: rgb(18, 19, 19);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;

    perspective: 150px; // perspectiva do container para o efeito de 3D


    h1{
        color: #b9cfd4;
    }

    p{
        color: rgba(21, 228, 243, 0.39);
        font-size: 18px;
    }
}

.containerbox1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24PX;
}


.box {
    width: 200px;
    height: 200px;
    background-color: rgb(7, 197, 197);
    border-radius: 20px;
    transform: rotate(0deg);
    transform-origin: 0% 0%;
    
    transition: all 1s ease;
    
    &:hover {
        transform: rotate(90deg);
    }
}

.containerbox2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

}

.paibox2{
    display: flex;
    background-color: rgb(34, 36, 36);
    flex-direction: column;
    align-items: center;
    perspective: 1000px;
    transition: all 3s ease;
    border-radius: 20px;
    transform-style: preserve-3d;

    &:hover {
        animation: rotatebox2 2s linear infinite;
        transform: rotateY(60deg);
    }
}

.box2 {
    width: 200px;
    height: 200px;
    background-color: rgb(7, 197, 197);
    border-radius: 20px;
    transform: rotateX(0deg);
    transition: all 3s ease;
    
    &:hover {
        animation: rotatebox2 2s linear infinite;
        transform: rotateX(60deg);
    }
}

.containerbox3{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24PX;
}

.box3 {
    width: 200px;
    height: 200px;
    background-color: rgb(7, 197, 197);
    border-radius: 20px;
    transform-origin: 50% 100%;
    
    transition: all 1s ease;
    
}



@keyframes looplogo{
    0%{
        transform: translateX(0px) ;
    }

    33%{
        transform: translateX(5px) ;
    }

    66%{
        transform: translateX(-5px) ;
    }

    100%{
        transform: translateX(0px) ;
    }
}


@keyframes rotatebox2 {
    0% {
        transform: rotateY(0deg), rotateX(60deg);;
    }
    100% {
        transform: rotateY(360deg), rotateX(60deg);;
    }
}